<% include partials/header.ejs %>

  <div class="container">

    <h1><%= title %></h1>

    <table class="table table-striped" style="margin-top:15px">
      <tr>
        <th>User ID</th>
        <th>Username</th>
      </tr>
      <% for (var i=0; i < accounts.length; i++ ) { %>
      <tr>
        <td><%= accounts[i]._id %></td>
        <td><%= accounts[i].username %></td>
      </tr>
      <% } %>
    </table>

  </div>

<% include partials/footer.ejs %>
